<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text="" icon="chevron-back-outline" color="medium" defaultHref=""></ion-back-button>
      <ion-title>Edit Profile</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="inset">
      <ion-label position="stacked">First name</ion-label>
      <ion-input type="text" [(ngModel)]="firstname" name="firstname"></ion-input>
    </ion-item>
    
    <ion-item lines="inset">
      <ion-label position="stacked">Last name</ion-label>
      <ion-input type="text" [(ngModel)]="lastname" name="lastname"></ion-input>
    </ion-item> 

    <ion-item lines="inset">
      <ion-label position="stacked">Address</ion-label>
      <ion-input type="text" [(ngModel)]="address" name="address"></ion-input>
    </ion-item> 

    <ion-item lines="inset">
      <ion-label position="stacked">Phone number</ion-label>
      <ion-input type="text" [(ngModel)]="phonenumber" name="phonenumber"></ion-input>
    </ion-item> 
    
    <ion-item lines="inset">
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="text" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item> 

    <ion-item lines="inset">
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="text" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>

  <!-- Button for changing profile image
    <ion-row>
      <ion-col class="ion-text-left"> 
        <ion-button class="ion-padding-start ion-padding-end ion-margin-top" color="medium">+ Change photo</ion-button>
      </ion-col>
    </ion-row>
  -->

    <ion-row>
      <ion-col class="ion-text-center"> 
      <ion-button class="ion-margin-top" color="medium" size="large" type="submit" (click)="signUp()">Update profile</ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>
