<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title slot="secondary">{{product.title}}</ion-title>
    <ion-searchbar slot="end" type="text" color="white" placeholder="Search" clearinput>
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img *ngIf="product.pictures" src="{{product.pictures}}">
      <ion-card-title>{{product.title}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{product.description}}
      <ion-item *ngIf="product.price != 0">{{product.price}}</ion-item>
      <ion-item *ngIf="product.price == 0">Free</ion-item>
    </ion-card-content>
  </ion-card>
  <ion-item>
    <ion-button (click)="delete_product()">Delete</ion-button>
  </ion-item>
</ion-content>

