<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref=""></ion-back-button>
      <ion-title>Login</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form>
    <ion-item lines="inset">
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" type="email" name="email" required></ion-input>
    </ion-item>

    <ion-item lines="inset">
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="password" type="password" name="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col class="ion-text-center"> 
        <ion-button size="large" color="medium" type="submit" (click)="login()">Login</ion-button>
      </ion-col>
    </ion-row>

  </form>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button size="medium" color="light" routerLink="/register" routerDirection="forward">Register</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
