<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="secondary">
      Home
    </ion-title>
    <ion-searchbar routerLink="/search" routerDirection="forward" slot="end" type="text" color="white" placeholder="Search" clearinput>
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<!-- Later version of homepage
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid *ngFor="let product of RecentlyAdded" [routerLink]="'/product-detail/'+product.pid" routerDirection="forward">
    <ion-list lines="inset">
      <ion-item class="ion-no-padding ion-no-margin">
        <ion-row>
          <ion-col size="4">
            <img width="90" height="90" class="ion-no-padding ion-no-margin" src="{{product.pictures}}">
          </ion-col>
          <ion-col size="5">
            <h4>{{ product.title }}</h4>
          </ion-col>
          <ion-col size="3">
            <h2>{{ product.price }} €</h2>
          </ion-col>
          <ion-col size="12">
            <ion-text>{{ product.description }}</ion-text>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
-->

<!-- Original -->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-grid>
      <ion-row *ngFor="let product of RecentlyAdded">
        <ion-col [routerLink]="'/product-detail/'+product.pid" routerDirection="forward">
          <ion-row>
            <ion-col><ion-label>{{ product.title }}</ion-label></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-avatar item-start>
                <img src="{{product.pictures}}">
              </ion-avatar>
            </ion-col>
            <ion-col>
              <ion-item>
                  <ion-text color="primary">
                    <h3>{{ product.description }}</h3>
                  </ion-text>
                  <ion-text color="primary">
                    <p>{{ product.price }}</p>
                  </ion-text>
              </ion-item>
            </ion-col>
          </ion-row>  
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
