<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-item lines="full">
    <div class="card">
      <img src="" alt="" style="width:100%">
      <h1>Profilename: {{ User.firstname }}</h1>
      <p>Email: {{ User.email }}</p>
      <p>Phone Number: {{ User.phonenumber }}</p>
      <p>Address: {{ User.address }}</p>
    </div>
  </ion-item>

    <ion-row>
      <ion-col class="ion-text-center"> 
        <ion-button class="ion-margin-end" color="medium" (click)="EditProfile()">Edit profile</ion-button>
        <ion-button class="ion-margin-start" color="medium" (click)="MyProducts()">My products</ion-button>  
      </ion-col>
    </ion-row>
 
<!--
    <ion-tab-button tab="Edit Profile">
      <ion-icon name="Edit Profile"></ion-icon>
      <ion-label>Edit Profile</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="My Products">
      <ion-icon name="My Products"></ion-icon>
      <ion-label>My Products</ion-label>
    </ion-tab-button>
  -->
</ion-content>
