<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1">
      <ion-header>
        <ion-toolbar>
          <!-- Side menu button -->
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Navigate</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-menu-toggle auto-hide="true">
        <ion-list *ngFor="let pages of navigate">
          <ion-item lines="none" [routerLink]="pages.url" routerDirection="forward">
              <ion-icon [name]="pages.icon" slot="start"></ion-icon>
                 {{pages.title}} 
          </ion-item>
        </ion-list>
        <ion-item lines="none" (click)="logout()">
          <ion-icon slot="start"></ion-icon>
             Logout
        </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-list>
            <ion-item lines="none" routerLink="/privacy-policy" routerDirection="forward">Privacy Policy</ion-item>
            <ion-item lines="none" routerLink="/terms-of-use" routerDirection="forward">Terms of Service</ion-item> 
        </ion-list>
        </ion-menu-toggle>

        <!--Side menu test with divider
          <ion-item-divider color="light"> </ion-item-divider>
        <ion-list>
          <ion-item routerLink="/privacy-policy" routerDirection="forward">Privacy Policy</ion-item>
          <ion-item routerLink="/terms-of-use" routerDirection="forward">Terms of Usage</ion-item>
        </ion-list>-->

      </ion-content>
    </ion-menu>
<ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>