<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="secondary">Edit product</ion-title>
    <ion-searchbar slot="end" type="text" color="white" placeholder="Search" clearinput>
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="roundedInput ion-padding-start ion-padding-end ion-padding-bottom">
    <ion-label position="stacked">Title</ion-label>
    <ion-input placeholder="Add Title..."></ion-input>
  </ion-item>

  <ion-item class="ion-padding-start ion-padding-end ion-padding-bottom">
    <ion-label position="stacked">Price</ion-label>
    <ion-input placeholder="Add Price..."></ion-input>
  </ion-item>

  <ion-item class="ion-padding-start ion-padding-end ion-padding-bottom">
    <ion-label position="stacked">Description</ion-label>
    <ion-input placeholder="Add Description..."></ion-input>
  </ion-item>

  <ion-button class="ion-padding-start" color="dark">+ Add photo</ion-button>
  <ion-button class="ion-padding-start ion-padding-end" expand="block" color="dark">Publish</ion-button>
  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>

<ion-footer>
  <ion-toolbar>
    
  </ion-toolbar>
</ion-footer>
