<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar  
      slot="end" 
      type="text" 
      color="white" 
      placeholder="Search" 
      clearinput 
      [(ngModel)]="searchTerm" 
      (ionInput)="get_results()"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding id="page1">
  <ion-list id="page-list1" *ngFor="let item of products">
    <ion-item color="none" id="page-list-item8"  [routerLink]="'/product-detail/'+item.pid" routerDirection="forward">
      <ion-card id="page-card21">
        <ion-list>
          <ion-item color="none" id="page-list-item3">
            <ion-thumbnail item-left>
              <img src="{{item.pictures}}"/>
            </ion-thumbnail>
            <h2>
              {{item.title}}
            </h2>
          </ion-item>
          <ion-item id="page-list-item-container2">
            <div id="page-markdown2" class="show-list-numbers-and-dots">
              <p style="margin-top:0px;">
                {{item.description}}
              </p>
            </div>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>