#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-content ion-toolbar {
    --background: translucent;
  }
  
  .image-container {
    min-height: 200px;
    background-size: cover;
  }
   
  @media (min-width: 0px) {
    .images {
      column-count: 2;
    }
  }
   
  @media (min-width: 420px) {
    .images {
      column-count: 3;
    }
  }
   
  @media (min-width: 720px) {
    .images {
      column-count: 4;
    }
  }
   
  .one-image {
    margin: 2px;
  }
   