<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref=""></ion-back-button>
      <ion-title>Register</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="inset">
      <ion-label position="stacked">First name</ion-label>
      <ion-input type="text" [(ngModel)]="firstname" name="firstname"></ion-input>
    </ion-item>
    
    <ion-item lines="inset">
      <ion-label position="stacked">Last name</ion-label>
      <ion-input type="text" [(ngModel)]="lastname" name="lastname"></ion-input>
    </ion-item> 

    <ion-item lines="inset">
      <ion-label position="stacked">Address</ion-label>
      <ion-input type="text" [(ngModel)]="address" name="address"></ion-input>
    </ion-item> 

    <ion-item lines="inset">
      <ion-label position="stacked">Phone number</ion-label>
      <ion-input type="text" [(ngModel)]="phonenumber" name="phonenumber"></ion-input>
    </ion-item> 
    
    <ion-item lines="inset">
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="text" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item> 

    <ion-item lines="inset">
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="text" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col class="ion-text-center"> 
      <ion-button color="medium" size="large" type="submit" (click)="signUp()">Register</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <p>By registering you confirm that you have read and agree to Privacy policy and Terms and Conditions</p>
      </ion-col>
    </ion-row>
  </form>
  
</ion-content>
